button.burger {
  display: none;
  position: fixed;
  top: 40px;
  left: 20rem;
  z-index: 2;
  background-color: transparent;
  background-image: url(../images/icon-menu.svg);
  border: none;
  @media (max-width: 35em) {
    display: block;
  }
  img.menu-open {
    @media (max-width: 35em) {
      display: block;
    }
  }
  img.menu-close {
    @media (max-width: 35em) {
      position: absolute;
      top: -7px;
      left: 4px;
      display: none;
    }
  }
}
nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div.app__navbar-logo {
    margin-top: 89px;
    margin-left: 165px;
    @media (max-width: 35em) {
      margin-left: 20px;
      margin-top: 30px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 164px;
    @media (max-width: 35em) {
      margin-right: 0px;
      position: fixed;
      inset: 0 0 0 31%;
      padding-top: 140px;
      flex-direction: column;
      background: white;
      z-index: 1;
      transform: translateX(100%);
      transition: transform 350ms ease-out;
    }
    li {
      margin-left: 37px;
      margin-top: 100px;
      @media (max-width: 35em) {
        margin-top: 25px;
        margin-left: 20px;
      }
      a {
        text-decoration: none;
        color: var(--DarkGrayishBlue-color);
        font-weight: 400;
        font-size: 16px;
        transition: all 0.1s ease-in-out;
        &:hover {
          color: var(--SoftRed-color);
        }
        @media (max-width: 35em) {
          color: var(--VeryDarkBlue-color);
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }
}
ul[data-visible="true"] {
  transform: translateX(0%);
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  article.app__header-article-left {
    margin-top: 55px;
    margin-left: 165px;
    @media (max-width: 35em) {
      margin-top: 30px;
      margin-left: 15px;
    }
    div.app__header-article-image-desktop {
      width: 730px;
      height: 301px;
      @media (max-width: 35em) {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    div.app__header-article-image-mobile {
      width: 350px;
      height: 301px;
      display: none;
      @media (max-width: 35em) {
        display: block;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    h1 {
      width: 344px;
      height: 165px;
      font-weight: 800;
      font-size: 56px;
      line-height: 55px;
      letter-spacing: 0.005em;
      color: var(--VeryDarkBlue-color);
      margin-top: 35px;
      @media (max-width: 35em) {
        font-size: 40px;
        margin-top: 15px;
      }
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 23px;
      width: 334px;
      height: 90px;
      color: var(--DarkGrayishBlue-color);
      margin-left: 385px;
      margin-top: -170px;
      @media (max-width: 35em) {
        margin-left: 5px;
        margin-top: 5px;
      }
    }
    a {
      text-decoration: none;
      padding: 16px 36px 14px 31px;
      text-align: center;
      background-color: var(--SoftRed-color);
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.24em;
      color: var(--OffWhite-color);
      position: relative;
      top: 55px;
      left: 385px;
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: var(--VeryDarkBlue-color);
        cursor: pointer;
      }
      @media (max-width: 35em) {
        top: 45px;
        left: 5px;
      }
    }
  }
  article.app__header-article-right {
    background-color: var(--VeryDarkBlue-color);
    width: 350px;
    height: 511px;
    margin-top: 55px;
    margin-left: 30px;
    @media (max-width: 35em) {
      width: 345px;
      margin-top: 755px;
      margin-left: -345px;
    }
    h1 {
      margin-top: 28px;
      margin-left: 24px;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      color: var(--SoftOrange-color);
    }
    h2 {
      margin-top: 30px;
      margin-left: 24px;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: var(--OffWhite-color);
      transition: all 0.1s ease-in-out;
      &:hover {
        color: var(--SoftOrange-color);
        cursor: pointer;
      }
    }
    p {
      margin-top: 8px;
      margin-left: 24px;
      font-weight: 400;
      width: 295px;
      height: 50px;
      font-size: 15px;
      line-height: 25px;
      color: var(--GrayishBlue-color);
    }
    hr {
      margin: 33px 23px;
      width: 304px;
      color: var(--OffWhite-color);
    }
  }
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  article {
    margin-left: 165px;
    margin-top: 81px;
    @media (max-width: 35em) {
      margin-left: 0px;
    }
    div.section__img {
      width: 99px;
      height: 127px;

      img {
        width: 100%;
      }
    }
    h1 {
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: var(--GrayishBlue-color);
    }
    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */
      color: var(--VeryDarkBlue-color);
      letter-spacing: 0.01em;
      transition: all 0.1s ease-in-out;
      &:hover {
        color: var(--SoftRed-color);
        cursor: pointer;
      }
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
      color: var(--DarkGrayishBlue-color);
    }
  }
  article.section__article-left {
    position: relative;
    @media (max-width: 35em) {
      left: 20px;
    }
    h1 {
      position: absolute;
      top: -5px;
      left: 125px;
    }
    h2 {
      position: absolute;
      top: 40px;
      left: 125px;
      @media (max-width: 35em) {
        width: 215px;
      }
    }
    p {
      position: absolute;
      top: 70px;
      left: 125px;
      width: 215px;
    }
  }
  article.section__article-center {
    position: relative;
    @media (max-width: 35em) {
      top: 165px;
      left: -11px;
    }
    div.section__img {
      position: absolute;
      left: -94px;
    }
    h1 {
      position: absolute;
      top: -5px;
      left: 31px;
    }
    h2 {
      position: absolute;
      top: 40px;
      left: 34px;
      @media (max-width: 35em) {
        width: 215px;
      }
    }
    p {
      position: absolute;
      top: 70px;
      left: 35px;
      width: 215px;
    }
  }
  article.section__article-right {
    position: relative;
    @media (max-width: 35em) {
      left: -31px;
      top: 330px;
      margin-bottom: -60px;
    }
    div.section__img {
      position: absolute;
      left: -199px;
    }
    h1 {
      position: absolute;
      top: -5px;
      left: -75px;
    }
    h2 {
      position: absolute;
      top: 40px;
      left: -70px;
      @media (max-width: 35em) {
        width: 215px;
      }
    }
    p {
      position: absolute;
      top: 70px;
      left: -65px;
      width: 215px;
    }
  }
}
